.order_search {
  &-container {
    @apply px-4 py-12;
  }

  &-search_bar {
    @apply flex flex-col justify-center items-center;
  }

  &-title {
    @apply font-bold my-5 mx-2 text-black text-lg sm:text-xl lg:text-2xl;
  }

  &-input {
    @apply w-80;
    @media screen and (min-width: 640px) {
      width: 25rem;
    }
    @media screen and (min-width: 1024px) {
      width: 30rem;
    }
  }

  &-empty {
    @apply px-4 pt-16 pb-4 m-auto w-3/5 sm:w-1/2 md:w-2/5;
    @media screen and (min-width: 1024px) {
      width: 30%;
    }
  }
}
