.food_detail {
  &-thumbnail {
    width: 55%;
    @apply sm:w-2/5 md:w-1/2 lg:w-2/3 m-3;
  }

  &-price {
    color: #d30e15;
    @apply text-2xl font-bold p-3;
  }

  &-line {
    background-color: #008c7a;
    @apply w-6 h-0.5;
  }

  &-title {
    color: #111111;
    @apply text-2xl font-bold mt-1 mb-2;
  }

  &-description {
    color: #444444;
    @apply mt-1 mb-2;
  }

  &-rating {
    @apply flex justify-between;
  }

  &-quantity {
    @apply flex justify-between items-center mb-4 mt-6;

    .MuiOutlinedInput-input.MuiInputBase-input {
      @apply px-4 py-3;
    }
  }
}
