.nav_search {
  &-no_result {
    box-shadow: 0.01rem 0.01rem 0.4rem rgba(0, 0, 0, 0.1);
    background-color: #dcdcdc;
    width: 15.5rem;
    @apply absolute text-black p-2 rounded-b-md;
  }

  &-result {
    box-shadow: 0.01rem 0.01rem 0.4rem rgba(0, 0, 0, 0.1);
    background-color: #dcdcdc;
    width: 15.5rem;
    @apply absolute text-black rounded-b-md;

    p {
      @apply p-2 cursor-pointer;
    }

    p:hover {
      color: #008c7a;
    }
  }
}
