.food_review {
  &-container {
    @apply px-4 md:px-12 py-12;
  }

  &-content {
    box-shadow: 0.01rem 0.01rem 0.4rem rgba(0, 0, 0, 0.1);
    @apply px-4 py-4 rounded-xl mt-12 mb-8;

    .MuiGrid-root.MuiGrid-container {
      @apply mt-0 ml-0 w-full;
    }

    .box-vote {
      border: 1px solid #dee2e6;
      @apply rounded-xl flex justify-center items-center;

      .chart-rating {
        @apply p-4 flex flex-col;

        .rating {
          &-average {
            font-size: 1.75rem;
            @apply font-bold text-center;
          }

          &-point {
            .MuiBox-root {
              @apply mx-auto justify-center;
            }
          }

          &-total {
            @apply text-center;
            span {
              @apply font-semibold mr-2;
            }
          }
        }
      }

      .chart-statistic {
        @apply p-4;
      }
    }

    .box-review {
      .review-item {
        @apply pr-4 pb-4;

        .review-content {
          @apply w-full my-6;

          .review-title {
            @apply flex justify-between px-2;

            .customer-name {
              @apply font-bold text-lg;
            }

            .submitted-time {
              color: #707070;
              @apply font-medium;
            }
          }

          .review-description {
            background-color: #f2f2f2;
            @apply p-3 rounded-lg mt-1 text-justify;

            .feedback-rating {
              @apply flex;

              h6 {
                @apply mr-3 font-bold;
              }

              span {
                margin-top: 0.025rem;
                @apply text-lg;
              }
            }

            .feedback-content {
              @apply font-bold;

              span {
                @apply ml-1 font-normal;
              }
            }
          }
        }
      }
    }
  }
}
