.review_form {
  &-thumbnail {
    width: 55%;
    @apply sm:w-2/5 md:w-1/2 lg:w-2/3 m-3;
  }

  &-line {
    background-color: #008c7a;
    @apply w-6 h-0.5;
  }

  &-heading {
    color: #111111;
    @apply text-2xl font-bold mt-1 mb-2;
  }

  &-description {
    color: #444444;
    @apply mt-1 mb-2;
  }

  &-rating {
    @apply flex justify-between mt-1 mb-4;

    .rating-title {
      @apply font-medium;
    }
  }

  &-anonymous_mode {
    @apply flex justify-between mt-3;

    .mode-title {
      @apply font-medium;
    }
  }
}
